/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
.paragraphs {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}
.headings {
  font-size: 3rem;
  font-family: rockwell;
  padding-bottom: 35px;
}
body {
  background: #d3d3d3;
  font-family: helvetica;
  margin: 15px;
  font-weight: 500;
}
#top-nav {
  padding-bottom: 10p;
  width: 95%;
  margin-right: 0 auto;
}
#top-nav a:link {
  color: black;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 1.6rem;
  padding: 15px;
  text-decoration: none;
}
#top-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.profile-grid {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 35% 60%;
  background: white;
  height: 700px;
  padding: 30px;
}
.profile-grid img {
  height: 600px;
  width: 400px;
}
.profile-grid h1,
.profile-grid h2 {
  font-size: 3rem;
  font-family: rockwell;
  padding-bottom: 35px;
}
.profile-grid p,
.profile-grid li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}
.profile-grid #about {
  line-height: 1.3em;
}
.bottom-section {
  display: grid;
  width: 90%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  background: white;
  height: 700px;
  padding: 30px;
  grid-gap: 5em;
}
.bottom-section h1,
.bottom-section h2 {
  font-size: 3rem;
  font-family: rockwell;
  padding-bottom: 35px;
}
.bottom-section p,
.bottom-section li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.5em;
}
.bottom-section div {
  padding: 5em;
}
.bottom-section ul {
  list-style-type: square;
}
